# Postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=joman
POSTGRES_USER=postgresadmin
POSTGRES_PASSWORD=changethis
POSTGRES_URL=postgres://postgresadmin:changethis@localhost:5432/pgdatabase
# PgAdmin
PGADMIN_DEFAULT_EMAIL=changme@example.com
PGADMIN_DEFAULT_PASSWORD=changethis
# Corpus
WORDS_DIR=/path/to/your/project/words
SENTENCES_DIR=/path/to/your/project/sentences
# HTTP Settings
HTTP_PORT=8080
